<table class="table">
    <thead>
      <tr>
        <th scope="col">EXPERIENCIA</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><img src="assets/experiencia/imagenes/MOOCO_v01.jpg"></th>
        <td>
            <div><b>MOTION GRAPHER</b></div>
            <div>MOOCO, CABA, ARGENTINA (2021 - 2022)</div>
            <div>Para las cuentas de Disney, Paramount, Sony, NatGeo. Animación de Chyrons, Plates, Line-ups, etc.</div>
        </td>
      </tr>
      <tr>
        <th scope="row"><img src="assets/experiencia/imagenes/ONER_v01.jpg"></th>
        <td>
            <div><b>COORDINADORA Y PRODUCTORA VFX</b></div>
            <div>ONER VFX, BUENOS AIRES, ARGENTINA/INTERNACIONAL (2019)</div>
            <div>Coordinadora vfx de “Resistance” de Jonathan Jakubowicz. Coordinadora vfx de “El Cuento de las Comadrejas” de J. J. Campanella</div>
        </td>
      </tr>
      <tr>
        <th scope="row"><img src="assets/experiencia/imagenes/LA POSTA_v01.jpg"></th>
        <td>
            <div><b>COMPOSITORA VFX Jr.</b></div>
            <div>LA POSTA VFX, BUENOS AIRES, ARGENTINA (2017)</div>
            <div>Post producción de pelicula india</div>
        </td>
      </tr>
      <tr>
        <th scope="row"><img src="assets/experiencia/imagenes/varios logos.JPG"></th>
        <td>
            <div><b>GUIONISTA, PRODUCTORA, DIRECTORA, EDITORA Y COMPOSITORA MUSICAL, FOTOMONTAJISTA / RETOCADORA DIGITAL, PROFESORA SUPLENTE / AYUDANTE, VIDEO EDITORA INTERINA</b></div>
            <div>PROYECTO PROPIO CORTOMETRAJE, BUENOS AIRES, ARGENTINA <br/> SAKE ARGENTINA, BUENOS AIRES, ARGENTINA <br/> LA SOCIEDAD POST, BUENOS AIRES, ARGENTINA <br/> ESCUELA DA VINCI, BUENOS AIRES, ARGENTINA <br/> STEINBRANDING, BUENOS AIRES, ARGENTINA (2012 - 2017)</div>
            <div></div>
        </td>
      </tr>
    </tbody>
  </table>
