<table class="table">
    <thead>
      <tr>
        <th scope="col">EXPERIENCIA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let experiencia of miExperienciaList">
        <th scope="row"><img [src]="experiencia.urlFotoEmpresa"></th>
        <td>
            <div><b>{{experiencia.tipoEmpleo.nombreTipo}}</b></div>
            <div *ngIf="experiencia.esTrabajoActual">{{experiencia.nombreEmpresa}} ({{experiencia.fechaInicio}} - Presente)</div>
            <div *ngIf="experiencia.esTrabajoActual === false">{{experiencia.nombreEmpresa}} ({{experiencia.fechaInicio}} - {{experiencia.fechaFin}})</div>
            <div>{{experiencia.experienciaLaboralcol}}</div>
        </td>
      </tr>
    </tbody>
  </table>
