<table class="table">
    <thead>
      <tr>
        <th scope="col">EDUCACION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><img src="assets/educacion/imagenes/ISPC ICONO.JPG"></th>
        <td>
            <div><b>CIENCIA DE DATOS E IA</b></div>
            <div>INSTITUTO SUPERIOR POLITECNICO CÓRDOBA, CÓRDOBA, ARGENTINA (2022 - Presente)</div>
            <div>Materias Aprobadas: Programación I, Inglés I, Proyecto Integrador I, Sistemas de Comunicación, Lógica, Análisis Matemático, Álgebra, Base de Datos, Ética y Deontología Profesional</div>
        </td>
      </tr>
      <tr>
        <th scope="row"><img src="assets/educacion/imagenes/UBA.jpg"></th>
        <td>
            <div><b>LICENCIATURA EN CIENCIAS DE LA COMPUTACIÓN</b></div>
            <div>UNIVERSIDAD DE BUENOS AIRES, CABA, ARGENTINA (2021 - Presente)</div>
            <div>Materias Aprobadas: CBC</div>
        </td>
      </tr>
      <tr>
        <th scope="row"><img src="assets/educacion/imagenes/DAVINCI_v01.jpg"></th>
        <td>
            <div><b>DIRECTORA DE CINE DE ANIMACION</b></div>
            <div>ESC. DE ARTE MULTIMEDIAL DA VINCI, CABA, ARGENTINA (2008 - 2011)</div>
            <div>Egresada</div>
        </td>
      </tr>
      <tr>
        <th scope="row"><img src="assets/educacion/imagenes/Lincoln.png"></th>
        <td>
            <div><b>BACHILLERATO NACIONAL BILINGUE ESP. EN CIENCIAS Y LETRAS</b></div>
            <div>COLEGIO LINCOLN, CABA, ARGENTINA (1998 - 2003)</div>
            <div>Egresada</div>
        </td>
      </tr>
    </tbody>
  </table>
