<table class="table">
    <thead>
      <tr>
        <th scope="col">EDUCACION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let educacion of miEducacionList">
        <th scope="row"><img [src]="educacion.urlFoto"></th>
        <td>
            <div><b>{{educacion.tituloAlcanzado}}</b></div>
            <div *ngIf="educacion.estaCursando">{{educacion.lugar}} ({{educacion.fechaInicio}} - Presente)</div>
            <div *ngIf="educacion.estaCursando === false">{{educacion.lugar}} ({{educacion.fechaInicio}} - {{educacion.fechaFin}})</div>
            <div>{{educacion.descripcion}}</div>
        </td>
      </tr>
    </tbody>
  </table>
