<table class="table">
    <thead>
      <tr>
        <th scope="col">ACERCA DE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Me dicen ABI. Me gradué como Directora de Cine de animación. En 2016 finalicé “Programá tu futuro - Taller de Programación Inicial” de Ciudad de Buenos Aires. Actualmente terminé el CBC de la Licenciatura en Ciencias de la Computación y curso “Argentina Programa”, y, la Tecnicatura en Inteligencia Artificial y Ciencia de Datos en ISPC. Debido a que fui a un colegio bilingüe, poseo inglés avanzado. Todo lo descripto me dio mucha práctica en el área Audiovisual, en Comunicar, en Diseñar, en Coordinar, en Programar, etc.</td>
      </tr>
    </tbody>
  </table>
