<table class="table">
    <thead>
      <tr>
        <th scope="col">HARD & SOFT SKILLS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"><img src="assets/skills/imagenes/LOAD 100.png"></th>
                        <td>
                            <p>ADOBE CREATIVE</p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row"><img src="assets/skills/imagenes/LOAD 75.png"></th>
                        <td>
                            <p>REASON & CUBASE</p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row"><img src="assets/skills/imagenes/LOAD 75.png"></th>
                        <td>
                            <p>OFFICE</p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row"><img src="assets/skills/imagenes/LOAD 12.png"></th>
                        <td>
                            <p>HTML/CSS/PHP/JAVASCRIPT/JAVA/PYTHON</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row"><img src="assets/skills/imagenes/LOAD 100.png"></th>
                        <td>
                            <p>CREATIVIDAD & EMPATIA</p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row"><img src="assets/skills/imagenes/LOAD 100.png"></th>
                        <td>
                            <p>COLABORACION & ESPIRITU DE EQUIPO</p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row"><img src="assets/skills/imagenes/LOAD 75.png"></th>
                        <td>
                            <p>MANEJO DEL TIEMPO & ETICA LABORAL</p>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th scope="row"><img src="assets/skills/imagenes/LOAD 75.png"></th>
                        <td>
                            <p>ADAPTABILIDAD & COMUNICACION</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
      </tr>
    </tbody>
</table>
