<table class="table">
    <thead>
      <tr>
        <th scope="col">HARD & SOFT SKILLS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <table class="table">
                <tbody *ngFor="let skill of miSkillsHardList">
                    <tr>
                        <th scope="row"><img [src]="skill.urlPorcentaje"></th>
                        <td>
                            <p>{{skill.nombreSkill}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table class="table">
                <tbody  *ngFor="let skill of miSkillsSoftList">
                    <tr>
                        <th scope="row"><img [src]="skill.urlPorcentaje"></th>
                        <td>
                            <p>{{skill.nombreSkill}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
      </tr>
    </tbody>
</table>
