<table class="table">
    <thead>
      <tr>
        <th scope="col">PROYECTOS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><img src="assets/proyectos/imagenes/ICONO ESTADO.JPG"></th>
        <td>
            <div><b>ARGENTINA PROGRAMA</b></div>
            <div>MINISTERIO DE DESARROLLO PRODUCTIVO, BUENOS AIRES, ARGENTINA (2022) Gobstones, HTML, CSS, JavaScript, Ruby, Java, etc. Desarrollo de Porfolio Web Personal.</div>
        </td>
      </tr>
      <tr>
        <th scope="row"><img src="assets/proyectos/imagenes/Codo a Codo icono.png"></th>
        <td>
            <div><b>CODO A CODO 4.0</b></div>
            <div>GOBIERNO DE CABA, BUENOS AIRES, ARGENTINA (2022) HTML, CSS, JavaScript, Python, etc. Desarrollo de Página Web Grupal.</div>
        </td>
      </tr>
      <tr>
        <th scope="row"><img src="assets/proyectos/imagenes/ALURA ONE ORACLE.png"></th>
        <td>
            <div><b>ALURA ORACLE ONE NEXT EDUCATION</b></div>
            <div>ORACLE, BUENOS AIRES, ARGENTINA (2022) HTML, CSS, JavaScript, Java, etc. Desarrollo de Página Web Personal.</div>
        </td>
      </tr>
    </tbody>
  </table>
