<div class="barra">
    <img style="z-index:1;position:absolute;" src="assets/barra/imagenes/Cuerpo_B_ArgentinaPrograma_01.png">
    <div style="z-index:2;position:absolute;">
        <img class="foto" [src]="miPersona.urlFoto">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">PERSONAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Nombre</th>
                <td>{{miPersona.nombre}} {{miPersona.apellido}}</td>
              </tr>
              <tr>
                <th scope="row">Cumpleaños</th>
                <td>{{miPersona.fechaNac}}</td>
              </tr>
              <tr>
                <th scope="row">Estado Civil</th>
                <td>{{miPersona.estadoCivil}}</td>
              </tr>
              <tr>
                <th scope="row">Nacionalidad</th>
                <td>{{miPersona.nacionalidad}}</td>
              </tr>
              <tr>
                <th scope="row">Lenguajes</th>
                <td>{{miPersona.lenguajes}}</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">CONTACTO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Celular/Wsp.</th>
                <td>{{miPersona.celular}}</td>
              </tr>
              <tr>
                <th scope="row">Teléfono</th>
                <td>{{miPersona.telefono}}</td>
              </tr>
              <tr>
                <th scope="row">E-mail</th>
                <td>{{miPersona.correo}}</td>
              </tr>
              <tr>
                <th scope="row">Dirección</th>
                <td>{{miPersona.direccion}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>