<div class="barra">
    <img style="z-index:1;position:absolute;" src="assets/barra/imagenes/Cuerpo_B_ArgentinaPrograma_01.png">
    <div style="z-index:2;position:absolute;">
        <img class="foto" src="assets/barra/imagenes/Caro Bolatti png.png">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">PERSONAL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Nombre</th>
                <td>M. Carolina Bolatti C.</td>
              </tr>
              <tr>
                <th scope="row">Cumpleaños</th>
                <td>16 de Marzo de 1986</td>
              </tr>
              <tr>
                <th scope="row">Estado Civil</th>
                <td>Soltera</td>
              </tr>
              <tr>
                <th scope="row">Nacionalidad</th>
                <td>Argentina</td>
              </tr>
              <tr>
                <th scope="row">Lenguajes</th>
                <td>Español Nativo e Inglés Avanzado</td>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">CONTACTO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Celular/Wsp.</th>
                <td>+54 9 11 6846 3955</td>
              </tr>
              <tr>
                <th scope="row">Teléfono</th>
                <td>+54 9 4--- ----</td>
              </tr>
              <tr>
                <th scope="row">E-mail</th>
                <td>bolatti.carolina@gmail.com</td>
              </tr>
              <tr>
                <th scope="row">Dirección</th>
                <td>Virrey Loreto 1799, --- piso, CABA, Arg.</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>