.links-header { 
    background-color: black;
}

.ap-header {
    width:90%;
}

.in-header {
    width:60%;
}

.login-header {
    background-color: black;
}

.banner-header {
    width: 100%;
}

.logo {
    max-width: 5%;
    height: auto;
}