<div class="links-header d-flex d-flex-row">
    <div class="d-flex">
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"><img class="ap-header" src="assets/encabezado/imagenes/APLogo-20-20.png" alt="Argentina Programa"></a>
    </div>
    <div class="d-flex align-items-center float-end" style="margin-left: 75%;">
        <a [href]="miPersona.urlLinkedin"><img class="in-header" src="assets/encabezado/imagenes/Linkedin_logo.jpeg.png" alt="LinkedIn"></a>
        <a [href]="miPersona.urlIg"><img class="in-header" src="assets/encabezado/imagenes/instagram_logo.jpeg.png" alt="Instagram"></a>
        <a [href]="miPersona.urlGithub"><img class="in-header" src="assets/encabezado/imagenes/GitHub_logo.jpeg.png" alt="GitHub"></a>
        <button *ngIf="noLogueado" type="button" onclick="location.href='iniciar-sesion'" class="btn btn-dark login-header">Login</button>
    </div>
</div>
<img class="banner-header" [src]="miPersona.urlBanner" alt="{{miPersona.nombre}} {{miPersona.apellido}}">